<!--display user name well-->
<div class="row">
  <div class="col-xs-4">
    <div class="well well-md">First Name: {{user.name}}</div>
    <img class="img-fluid" ng-src="{{user.avatar_url}}" />
   </div>
</div>

<!--sorting options select panel-->
  <div class="col-sm-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Sorting Options</h3>
      </div>
      <div class="panel-body">
        <form class="form-horizontal">
          <div class="form-group">
            <select class="form-control input-medium" id="selectViewerSortOrder" placeholder="Input field" ng-model="repoSortOrder">
                <option value="+name">Name - ascending</option>
                <option value="-name">Name - descending</option>
                <option value="-stargazers_count">Stars - descending</option>
                <option value="+stargazers_count">Stars - ascending</option>
            </select>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

<!--table displaying search results of repos-->
  <div class="col-sm-12">
    <table ng-hide="!user" class="table table-striped">
      <thead>
        <tr>
          <th>Name: </th>
          <th>Stars:</th>
          <th>Language:</th>
        </tr>
        <tr ng-repeat="repo in repos | orderBy:repoSortOrder">
          <td>{{repo.name }}</td>
          <td>{{repo.stargazers_count | number }}</td>
          <td>{{repo.language }}</td>
        </tr>
      </thead>
    </table>
  </div>
